/* like custom section but with smaller padding */
.p4r-section {
    /*height: 100%;*/
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F7F7F7));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F7F7F7');
}

/*-------enable width adapted video -----*/

.videoWrapper {
    position: relative;
    padding-bottom: 54%; /* actual aspect ratio of video */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.video-section {
    /*height: 100%;*/
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
	/* background: #60a0c0 */
}
